<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Skill test for Front-end: Bootstrap and NPM</title>
  </head>
  <body>
    <div class="container">
      <h1>Skill test for Front-end: Bootstrap and NPM</h1>

      <br />

      <!-- Modal trigger button -->
      <a href="#" class="btn btn-primary" id="myBtnModal">
        Register now
      </a>
    </div>

    <!-- Modal -->
    <div class="modal" id="modal-skill-test" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Register user</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- User register form -->
          <form id="register">
            <!-- Modal Body -->
            <div class="modal-body" id="formModal">
              <div class="form-group">
                <label for="modal-skill-test-name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="modal-skill-test-name"
                  name="modal-skill-test-name"
                  required
                />
              </div>
              <div class="form-group">
                <label for="modal-skill-test-surname">Surname</label>
                <input
                  type="text"
                  class="form-control"
                  id="modal-skill-test-surname"
                  name="modal-skill-test-surname"
                  required
                />
              </div>

              <div class="form-group">
                <label for="modal-skill-test-email">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="modal-skill-test-email"
                  name="modal-skill-test-email"
                  required
                />
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-primary" id="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
